.color-green{
    color: seagreen;
}


.abc{
  position: absolute;
  top: 20%;
    vertical-align: top;
bottom:0%
}

.container{
    vertical-align: middle;
}


.fixtop{
    bottom:30%
}
.card{
    border:0px;
}