<!-- <div class="row mt-5 ">
    
    <div class="col-4 col-md-6 col-sm-12">
        <div class="card">
                <div class="row">
                    <div class="col-6">
                        <img [src]="v.imageUrl"
                        class="card-img-top rounded">
    
                    </div>
                    
                    <div class="col-6">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-3 col-md-3 col-md-3">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
          
               
           
            <p class="card-text">{{v.veName}}</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <form [formGroup]="bookingForm" (submit)="confirmBooking()">
                        <div class="row">
                            <div class="col-6">
                                Booking From
                            </div>
                            <div class="col-6 float-right">

                                <input type="date" id="bookingFrom" date-format="yyyy/MM/dd" class="form-control"
                                    formControlName="bookingFrom">
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-6">
                                Booking for days
                            </div>
                            <div class="col-6 float-right">
                                <input type="text" class="form-control" formControlName="bookingUpto" id="daysBooked">
                            </div>
                        </div>
                       
                        <input type="submit" class="btn btn-success d-flex" id="save" value="confirm">
                    </form>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-8">
                            Total Price
                        </div>

                        <div class="col-4 float-right">
                            5000
                        </div>
                    </div>
                </li>
            </ul>
            
        </div>


    </div>
</div> -->

        <div class="row mt-5 abc container-fluid mb-5">
            <div class="col-6 col-md-6 col-sm-6">

                <div class="card mt-5">
                    <div class="row">
                        <div class="col-12">
                            <img [src]="v.imageUrl" class="card-img-top rounded">

                        </div>
                    </div>
                       
                        <div class="col-8">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th>Model</th>
                                        <td>{{v.veName}}</td>
                                    </tr>

                                    <tr>
                                        <th>Insuarance Valid</th>
                                        <td>{{v.veInsuranceExpiryDate | date}} </td>
                                    </tr>

                                    <tr>
                                        <th>Type</th>
                                        <td>{{v.veType}}</td>
                                    </tr>

                                    <tr>
                                        <th>Last Service Date</th>
                                        <td>{{v.velastServiceDate | date}}</td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>

                        <button class="btn btn-success ml-3 mb-2 mr-1" (click)="onConfirm()">Confirm</button>

                    
                </div>


            </div>
            <div class="col-6">
                <div class="card mt-5" *ngIf="confirm">
                    <div class="card-body" class="fixtop">
                        <form [formGroup]="bookingForm" (submit)="confirmBooking()" >
                            <div class="row">
                                <div class="col-6">
                                    Booking From
                                </div>
                                <div class="col-6 float-right">
            
                                    <input type="date" id="bookingFrom" date-format="yyyy/MM/dd" class="form-control"
                                        formControlName="bookingFrom">
                                </div>
                            </div>
            
            
                            <div class="row">
                                <div class="col-6">
                                    Booking for days
                                </div>
                                <div class="col-6 float-right">
                                    <input type="text" class="form-control" formControlName="bookingUpto" id="daysBooked">
                                </div>
                            </div>
                           
                            <input type="submit" class="btn btn-success d-flex" id="save" value="confirm">
                        </form>
                    </div>
                   
                </div>
               
            </div>
            
        </div>
  


