

        
            <div class="container-fluid mt-3">
                <div class="row">
                    <div class="col-4 col-md-6 col-sm-12">
                        <div class="card">
                            <img [src]="booking.vehicle.imageUrl" class="card-img-top rounded imgsize">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-4">
                                        {{booking.vehicle.veName}}
                                    </div>
                                </div>
    
                                <div class="row">
                                    <div class="col-4">
                                        Booking From:
                                    </div>
    
                                    <div class="col-4">
                                        {{booking.startDate}}
                                    </div>
                                </div>
    
                                <div class="row">
                                    <div class="col-4">
                                        Booking Upto:
                                    </div>
    
                                    <div class="col-4">
                                        {{booking.endDate}}
                                    </div>
                                </div>
    
                                <div class="row">
                                    <div class="col-4">
                                        Fare:
                                    </div>
    
                                    <div class="col-4">
                                        {{booking.vehicle.price}}
                                    </div>
                                </div>
    
                                <div class="row">
                                    <div class="col-4">
                                        Ride Status
                                    </div>
    
                                    <div class="col-4">
                                        <span class="badge" [ngClass]="{'badge-success':booking.status === 'active', 'badge-danger':booking.status === 'cancel'}">{{booking.status}}</span>
                                    </div>
                                </div>
                                <button class="btn btn-danger btn-sm flex mt-3">Cancel</button>
                            </div>
    
                        </div>
    
                    </div>

                   
                </div>
            </div>
      
