<div class="container">
    <div class="row mt-5">
      <div class="card">
        <div class="card-title ml-4 mt-4">
          <h2>Bookings</h2>
        </div>
        <div class="card-body">
          <div class="alert alert-secondary" *ngIf="length==0; else bookingItems">
            You dont have any bookings.
          </div>
          <ng-template #bookingItems>
            <table class="table" #bookingItems>
              <thead>
                <tr>
                  <th>Booking Id</th>
                  <th>Vehicle Model</th>
                  <th>Vehicle Type</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Booking Date</th>
                  <th>Status</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody *ngFor="let booking of sortedBook">
                <tr>
                  <td>{{booking.bookingId}}</td>
                  <td>{{booking.vehicle.veName}}</td>
                  <td>{{booking.vehicle.veType}}</td>
                  <td>{{booking.startDate}}</td>
                  <td>{{booking.endDate}}</td>
                  <td>{{booking.bookingDate}}</td>
                  <td>{{booking.status}}</td>
                  <td *ngIf="booking.status=='booked'"><button class="btn btn-danger" data-toggle="modal"
                      data-target="myModal"><i class="material-icons">
                        cancel
                      </i></button></td>
                  <td *ngIf="booking.status=='active'"><button class="btn btn-primary"
                      (click)="onDelete(booking.bookingId)">End
                    </button></td>
                </tr>
              </tbody>
            </table>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  