<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a href="#" class="navbar-brand">
        <i class="material-icons">commute</i>
        ZoomIt
    </a>

    <button class="navbar-toggler" data-toggle="collapse" data-target="#navData">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navData">
        <ul class="navbar-nav ml-auto">
                <li class="nav-item active" *ngIf="isAuthenticated()"><a routerLink="/profile" class="nav-link"><i class="material-icons">
                        person
                      </i>{{getUser()}}</a></li>

            <li class="nav-item">
                <a routerLink="/" class="nav-link">Vehicle</a>
            </li>

            <li class="nav-item"  *ngIf="!isAuthenticated()">
                <a routerLink="/login" class="nav-link">Login</a>
            </li>

            <li class="nav-item"  *ngIf="!isAuthenticated()">
                <a routerLink="/signup" class="nav-link">Signup</a>
            </li>

            <li class="nav-item active" *ngIf="isAuthenticated()"><a routerLink="/" class="nav-link" (click)="onSignOut()">Logout</a></li>

            <li class="nav-item" *ngIf="isAdmin() && isAuthenticated()">
                    <a routerLink="/userapprove" class="nav-link">UserList</a>
                </li>
            <li class="nav-item" *ngIf="!isAdmin() && isAuthenticated()">
                    <a routerLink="/transactions" class="nav-link">Transactions</a>
             </li>
        </ul>
    </div>
</nav>